
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}
.useful-links {
  color: #ffffff;
  
}

.useful-links h5 {
  font-weight: bold;
  margin-bottom: 1rem;
  color: #f1f1f1;
}

.useful-links ul li {
  margin-bottom: 8px;
}

.useful-links ul li a {
  color:#ffffff;
  text-decoration: none;
  transition: color 0.2s;
}
.useful-links ul li a:hover {
cursor: pointer;
  color: lime;
  text-decoration: underline;
}
social-links ul li a{
      color: #cccccc;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.2s;
}
.social-links ul li a:hover {
  color: #ffffff;
  text-decoration: underline;
}
/* 

.footer{
    background-color: gray;
        color:white;
}
.column h3{
    font-size: 20px;
    font-weight: 600;
}
.column ul{
list-style: none;
}
.column ul li{
  font-size: 20px;  
}
.column p{
    font-size: 20px;
}


.SocialMedia{
margin: auto;

}
.SocialMedia ul{
    list-style: none;
    display: flex;
}
.SocialMedia ul li {
    font-size: 30px;
   
}
.SocialMedia ul li a{
    color:white;
}
.SocialMedia ul li a:hover{
    cursor: pointer;
    color:lime;
   
} */